* {
    margin: 0;
    overflow-x: hidden;
}

.hide {
    opacity: 0;
}

.point {
    pointer-events: none;
}

body {
    margin: 2vw;
    background-color: rgba(19, 15, 58, 0.4);
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 3vw 0vw 0vw 5vw;
    font-family: 'Amatic SC';
    position: relative;
    color: black;
    text-decoration: none;
    display: inline-block; 
    text-shadow: 1px 1px 3px rgb(91, 91, 91);
    
    
}

h1:hover {
    color: black;
    
    
}

h1:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    height: 2px;
    left: 0;
    transition: transform 0.5s ease;
    background-color: black;
    
}

h1:hover:before {
    transform: scaleX(1);
    
}

#configurator {
    display: grid;
    grid-template-areas: "product options" "features features";
    position: static;
    margin: 5vw;
    
}

#product_preview {
    grid-area: product;
    margin: 2vw;
    box-shadow: 2px 2px 8px rgba(52, 52, 52, 0.653);
    border-radius: 2px;
    position: relative;
    transition: opacity ease-in .5s;
    background-color: rgb(234, 234, 247);
    justify-self: center;
    
    
}

#product_preview img,
svg {
    position: absolute;
    /* width: 100%; */
    height: 90vh;
    top: 0;
    left: 0;
    padding: 0vw 12vw 0vw 12vw;
}

#product_preview img.basic {
    position: relative;
}

#color_picker {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px rgba(52, 52, 52, 0.653);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3vw 3vw 1vw 3vw;
    padding: 2vw;
}

#color_picker h2 {
    margin-top: 0.5vw;
    font-family: 'Amatic SC';
    font-size: 1.7rem;

}

#color_value {
    cursor: pointer;
    height: 4vw; 
    width: 5vw;
    border: 2px solid black;
    border-radius: 0.2vw;

}

.option {
    
    padding: 2vw;
}

figcaption {
    font-family: 'Amatic SC';
    font-size: 1.7rem;
    margin: 3vw;
    color: black;

}

figcaption img {

    padding: 2vw;
}

#item_list img {
   
    border: 2px solid black;
    border-radius: 0.2vw;

}

#item_list {
    border: 1px solid black;
    margin: 3vw;
    box-shadow: 2px 2px 8px rgba(52, 52, 52, 0.653);
    background-color: white;
}

#options {
    grid-area: options;
    margin: 2vw;
    box-shadow: 2px 2px 8px rgba(52, 52, 52, 0.653);
    border-radius: 2px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(234, 234, 247);
}

#options .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: #aaa;
}

#options .option:hover:first-child {

    border-top: none;
}

#options .option:hover {
    background-color: rgba(19, 15, 58, 0.4);
    cursor: pointer;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    
    
}

#options .option.chosen {
    text-decoration: underline;
    color: #000;
}

#options .option img {
    width: 7vw;
    height: auto;
    
}

#selected {
    z-index: 10;
    grid-area: features;
}

#selected ul {
    z-index: 10;
    list-style-type: none;
}

#selected ul li {
    z-index: 10;
    display: inline-block;
}

#selected ul li img {
    position: relative;
    z-index: 11;
    width: 3em;
}

#product_preview svg g:hover {}

#product_preview svg g {
    cursor: pointer;
}


/* Animation classes */

.animate-feature-in {
    /* TODO: Create animation for adding a feature */
}

.animate-feature-out {
    /* TODO: Create animation for removing a feature */
}